@using MIS.ViewModels.View.Invitation
@model IEnumerable<InvitationUserViewModel>
@{
    ViewData["Title"] = "Invite";
}

<link href="~/css/addons/datatables.min.css" rel="stylesheet">

<h1 class="d-flex justify-content-center container-fluid">Invite Employee</h1>

<div class="container-fluid justify-content-center ">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">User name</th>
                <th class="th-sm">Company name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>
                        <div class="d-flex container-fluid justify-content-between">
                            <div>
                                @user.CompanyName
                            </div>
                            @if (user.IsAvailableForInvite)
                            {
                                <div>
                                    <a class="btn btn-primary btn-sm" asp-area="Owner" asp-controller="Invitation" asp-action="Invite" asp-route-id="@user.Id">
                                        Invite
                                    </a>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/addons/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}