@using MIS.ViewModels.Input.WareHouse
@model WarehouseEditInputModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="d-flex justify-content-center">Edit warehouse</h1>
<hr class="w-50" />

<div class="row container-fluid justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="Id" type="hidden" value="@Model.Id" />
            </div>
            <div class="container-fluid d-flex justify-content-around">
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            
                <div>
                    <a class="btn btn-primary" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
