@using Microsoft.AspNetCore.Identity
@using MIS.Common
@inject UserManager<MISUser> UserManager

@{
    var user = await this.UserManager.GetUserAsync(this.User);
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 py-0">
        <div class="container">
            <a class="mr-5 bg-primary " asp-controller="Home" asp-action="Index">
                <img src="~/img/logo2.png" class="img-thumbnail custom-img" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse bg-primary">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item mt-2">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            HOME
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown nav-item">
                            <button class="btn btn-link nav-item dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Warehouse
                            </button>
                            <div class="dropdown-menu nav-item bg-primary" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-white" asp-controller="WareHouse" asp-action="Index">Warehouse</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-white" asp-controller="WareHouse" asp-action="Create">Create</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-white" asp-controller="Receipt" asp-action="Index">Create receipt</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <button class="btn btn-link nav-item dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Company
                            </button>
                            <div class="dropdown-menu nav-item bg-primary" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-white" asp-controller="Company" asp-action="Index">Company</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-white" asp-controller="Company" asp-action="Create">Create</a>
                                <div class="dropdown-divider"></div>
                                <a class="nav-link text-white" asp-controller="Report" asp-action="Index">Reports</a>
                            </div>
                        </li>

                        <li class="dropdown nav-item">
                        <li class="dropdown nav-item">
                            <button class="btn btn-link nav-item dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Invitations
                            </button>
                            <div class="dropdown-menu nav-item bg-primary" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-white" asp-controller="Invitation" asp-action="Index">My invitations</a>
                                @if (this.User.IsInRole(GlobalConstants.CompanyOwnerRole))
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-white" asp-area="Owner" asp-controller="Invitation" asp-action="Show">Invite employees</a>
                                }
                            </div>
                        </li>
                        </li>

                        @if (user.CompanyId != null)
                        {
                            <li class="nav-item">
                                <a class="btn btn-link nav-item nav-link text-white" asp-controller="Company" asp-action="Chat" asp-route-id="@user.CompanyId">
                                    Chat
                                </a>
                            </li>
                        }

                    }
                    @if (this.User.IsInRole(GlobalConstants.AdministratorAreaRole))
                    {
                        <li class="dropdown nav-item">
                            <button class="btn btn-link nav-item dropdown-toggle nav-link text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin panel
                            </button>
                            <div class="dropdown-menu nav-item bg-primary" aria-labelledby="dropdownMenuButton">
                                <a class="nav-link text-white" asp-area="Administrator" asp-controller="AdministratorManage" asp-action="Index">Admin manage</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>