@{
    this.ViewData["Title"] = "Chat";
}

<h1 class="d-flex justify-content-start">@this.ViewData["Title"]</h1>

<div class="row md-form">
    <div id="message-holder" class="col-md-12 mt-3 d-flex justify-content-start">
        <input class="col-md-5 w-50 ml-4 pl-3" type="text" id="messageInput" placeholder="Message..." />
        <input id="sendButton" class="col-md-2 ml-4 btn btn-primary" value="Send" type="submit" />
    </div>
</div>

<div id="messagesList" class="h5">
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
}