@using MIS.Services
@using MIS.ViewModels.Input.Category
@model CreateCategoryInputModel
@inject IWareHouseService Service
@{
    ViewData["Title"] = "Create";
}

<h1 class="d-flex justify-content-center">Create category</h1>

<hr class="w-50" />
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <input type="hidden" asp-for="Id" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row container-fluid justify-content-around">
                <div class="">
                    <input type="submit" value="Create" class="btn btn-primary container-fluid" />
                </div>
                <div class="">
                    <a asp-controller="WareHouse" asp-action="Index" class="btn btn-primary container-fluid">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
